.f {
  color: red;
}

header {
  color: #222222;
}

img {
  width: 100%;
}

.registration input {
  margin: 8px 0;
}

.category > div {
  margin: 0 0 16px;
  padding: 0 8px;
}

.category img {
  height: 200px;
  object-fit: scale-down;
  margin-top: 10px;
}

.categories > div {
  margin: 0 0 16px;
  padding: 0 8px;
}

.categories img {
  height: 200px;
  object-fit: scale-down;
  margin-top: 10px;
}

.product .description {
  float: left;
  width: 50%;
  padding: 0 16px;
}

.product .image {
  float: left;
  width: 40%;
}

.catalog {
  padding: 24px 0;
}

.cart {
  padding: 24px 0;
}

.header__cart {
  color: gray;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto !important;
}

.App-header__user-icon {
  color: #1890ff;
}

.cart .cart__table-image {
  width: 150px;
  margin-right: 20px;
  border-radius: 3px;
}
